/*=============Custom CSS For BodyLanguagedr.com==============*/
html body{
  font-family: "Helvetica neue";
  -webkit-font-smoothing: antialiased;
}
h1{
  text-align: center;
  font-size:6em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
}
h2{
  font-size: 4em;
  text-align: center;
  font-weight: 200;
  font-size: 4.5em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
  color:#007FFF;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: 200;
}
h5{
  text-align: center;
}
h6{
  text-align: center;
  margin-top: 5px;
  color:white;
}
a{
  text-decoration:none !important;
  color:black;
}
a:hover{
  text-decoration:none;
}
p{
  font-size: 1.4em;
  font-weight: 300;
}
li{
  list-style: none;
}
img{
  display: block;
  margin:0 auto;
}
ls{
  margin: 0 5px 0 5px;
}
.menu a{
  color:white;
}
.menu a:hover{
  color:grey;
}
.space{
  padding:50px 0 30px 0;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
}
.hero{
  display:flex;
  background-image: url('../images/Head_shot.jpg');
  height: 100vh;
  background-size:cover;
  justify-content: center;
  align-items: center;
}
.hero2{
  display:flex;
  background: #074E68;
  height: 100vh;
  background-size:cover;
  justify-content: center;
  align-items: center;
}
.hero3{
  display:flex;
  background: #074E68;
  height: 500px;
  background-size:cover;
  justify-content: center;
  align-items: center;
}
.services1{
  text-align: right;
}
.services2{
  text-align: left;
}
.fonting{
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
  padding:5px 25px;
}
.spec{
  padding:40px 0;
}
.spec p{
  padding-top:25px;
  font-size:1.35em;
  font-weight:200;
  line-height: 1.6;
  text-align: justify;
}
.mod{
  text-align: right;
}
.test{
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}
.spec2{
  padding:150px 0;
  border-top:.5px solid black;
}
.square{
  display:block;
  align-items: middle;
  height:220px;
  width: 90%;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 5px;
}
.describe{
  text-align: left;
  line-height: 1.6em;
  font-size: 1.27em;
  text-transform: capitalize;
  font-weight:200;
}
.book{
  text-align: justify;
}
.purchase{
  display:flex;
  flex-flow: column;
  text-align: center;
}
.large-2 p{
  text-align: center;
}
.one{
  text-align: justify;
}
.content{
  align-content: center;
}
.media{
  margin:15px 15px;
}
.media img{
  border-radius: 100%;
}
.wonk{
  display: flex;
    flex-flow: row;
    align-self: center;
    justify-content: center;
    background: #717171;
    color: white;
    font-weight: 500;
    width: 75%;
    padding: 5px 0;
    line-height: 1.4em;
    font-size: 1em;
}
.narrow{
  text-align: center;
  padding:0 20px;
  font-size:1.2em !important;
  font-weight:400 !important; 
}
.contact{
  text-align: center;
  padding:0 5px;
  font-size:1em !important;
  font-weight:400 !important;
  text-decoration:none;
}
.contact-head{
  color:black !important;
}
.top-spacer{
  margin-top:50px;
}
.gap{
  border-top:.5px solid black;
  align-content: center;
}
.bottom-gap{
  padding-bottom:40px;
}
.side-bar{
  border-left:.5px solid black;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  }
}
#contact p{
  color:black !important;
  font-size: 1.2em;
}
.footer{
  padding:15px 0;
  background:#333333;
}
.social{
  margin:0 0 15px 40px;
  display: inline-flex;
}
.social ul{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.social ls{
  display:flex;
  margin: 15px 20px 0 0;
  width: 70px;
  height: 70px;
  background-color:#717171;
  border-radius: 100%;
}
.logo{
  border-radius: 5%;
}
.media_01{
  padding:0 0 0 23px;
}
.media_02{
  padding:20px;
}
.media_03{
  padding:20px;
}
.media_04{
  padding:0 0 0 21px;
}
.social li:hover{
  background-color: #59595A;
}
.promo{
  color:#E3E3E3;
  text-align: center;
  padding-top:20px;
  font-size: 1em;
}
.fa{
  align-self: center;
}

/*Orbital slider*/

.orbit-container {
  position: relative;
  height: 700px; }

.orbit-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9); }

.orbit-caption p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #fefefe;
  font-size: 28px;
  font-weight: 900; }

.events{
  display:flex;
  justify-content: center;
  text-align: center;
}

/*Goverment Stuff*/
.header{
  font-size:1.8em;
  font-weight: 200;
  color:black;
  letter-spacing: 2px;
  text-align: center;
  margin:20px 80px;
  line-height: 1.4em;
}
.smart{
  margin:50px 100px;
  text-align: justify;
  font-size: 1.4em;
  font-weight: 300;
}
.toosmart{
  font-size: .8em;
  text-align: center;
  font-weight: 400;
}
.cert-container{
  display:flex;
}
.line{
  border-top:solid 1px black;
  width:84%;
  margin:10px 8%;
  margin-bottom:20px;
}
.color{
  background:#F7F7F7 !important;
}
.smartest{
  margin:50px 90px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 200;
}
.services3{
  font-size: 1.3em;
  line-height: 2em;
}
.breaker{
    border-top:3px solid #000;
    margin:0 22%;
}
.gap2{
  margin-top:30px;
}
.gap3{
  margin-top:50px;
}
.fine{
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 2px;
}
.list{
  text-align: center;
  font-size: 1.4em;
  font-weight: 200;
}
.list li{
  line-height: 2.5em;
}
.box{
  background: #074E68;
  height:200px;
  border-radius: 2%;
}
.light{
  color:white;
  text-align: center;
  font-size:1.2em;
  padding:0 20px;
}
.sized{
  font-size: 1.7em;
  padding-top:10px;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


@media screen and (max-width: 39.9375em) {
  .orbit-caption p {
    font-size: 12px;
    font-weight: 400; }
  .orbit-container {
    position: relative;
    height: 700px; }
  h1{
    font-size: 4em;
    }
  h2{
    font-size: 3em;
  }
  .services1{
    text-align: center;
  }
  .services2{
    text-align: center;
  }
  .spec{
    padding-left:15px;
    padding-right:15px;
  }
  .spec p{
    padding-top:25px;
    font-size:1.3em;
    font-weight:400;
    line-height: 1.4;
    text-align: justify;
  }
  .side-bar{
    border-left:0px;
  }
  .gap{
    border-top:.5px solid black;
  }
  .narrow{
    padding:10px;
  }
  .spec2{
    padding:50px 15px;
  }
  .square{
    padding-top:35px;
  }
  .space{
    padding: 50px 0;
  }
  .logo{
    width:60%;
  }
  .social{
    margin:0 5%;
    justify-content: space-around;
  }
  .resize{
    width:80%;
  }
  }
@media screen and (min-width:30em) and (max-width:59.9999em) {
  h1{
    font-size: 4em;
    }
  h2{
    font-size: 3em;
  }
  h4{
    text-align: center;
  }
  .services1{
    text-align: center;
  }
  .services2{
    text-align: center;
  }
  .spec{
    padding-left:15px;
    padding-right:15px;
  }
  .spec p{
    padding-top:25px;
    font-size:1.3em;
    font-weight:200;
    line-height: 1.4;
    text-align: justify;
  }
  .side-bar{
    border-left:0px;
  }
  .gap{
    flex-wrap: wrap;
    margin-left:0px;
    margin-right:0px;
  }
  .narrow{
    padding:10px;
  }
  .spec2{
    padding:50px 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .square{
    padding-top:35px;
  }

  .logo{
    width:60%;
  }
  .social{
    display:flex;
    justify-content: center;
  }
  .top-spacer{
    margin-top:15px;
  }
  .resize{
    width:60%;
    padding-bottom:50px;
  }
  .purachase img{
    margin:0;
  }
  .space{
    padding:50px 0;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
  }
}

.orbit-bullets {
  display: none; }
